<% const renderItems = (items) => { %>
  <% if(IsArray(items)) { %>
    <% const element = document.createElement("div"); %>
    <% const textnode = document.createTextNode(JSON.stringify(items)); %>
    <% element.appendChild(textnode); %>
    <% document.body.appendChild(element); %>
    <% element.innerHTML = JSON.stringify(items) %>
  <% } %>
<% } %>

<div class="filterPanel">
  


</div>



