<!-- EJS Functions -->
<% const filterItems = (level,parentId=0)=> { %>
  <% if(parentId>0) { %>
      <% return filters.items.filter(item => item.level === level && item.parentId === parentId); %>
  <% } else { %>
      <% return filters.items.filter(item => item.level === level); %>
  <% } %>
<% } %>
<!-- Component -->
<% let initLevel = 1; %>
<% let itemGroups = 0; %>
<% let items = []; %>
<% let itemGroup = []; %>
<% let cache = {} %>
<div id="filterPanel" class="filterPanel">
  <% filters.levels.forEach(level=> { %>
    <% itemGroups = 1; %>
    <% if (level === initLevel) { %>
      <% itemGroup = filterItems(initLevel) %>
      <%- include('../partials/filterGroup', { itemGroup: itemGroup, 
                                                      parentId: 0, 
                                                      level: initLevel,
                                                      itemGroups: itemGroups }); %>
    <% } else { %>
        <% cache = {}; %>
        <% items = filterItems(level) %>
        <% items.forEach(item => { %>
          <% if(item.parentId !== cache.parentId) { %>
            <% itemGroup = filterItems(level,item.parentId) %>
            <%- include('../partials/filterGroup', { itemGroup: itemGroup, 
                                                      parentId: item.parentId, 
                                                      level: level,
                                                      itemGroups: itemGroups });
            %>
            <% itemGroups++; %>
          <% } %>
          <% cache = item; %>
        <% }) %>
    <% } %>
  <% }) %>
</div>

