<div class="slideshow-container">
    <% slide=0 %>
    <% slides=slideShow.items.length %>
    <% slideShow.items.forEach(content=> { %>
        <% slide = slide +1 %>
        <%- include('../partials/slide', {
                                            content:content,
                                            slide:slide,
                                            slides:slides
                                        })%>
    <% }); %>
</div>