<div class="mySlides fade">
    <div class="numbertext">
        <%=slide %> / <%=slides %>
    </div>
    <img src="<%= content.image %>" style="width:100%;height:400px;">
    <div class="text">
        <%= slide.caption %>
    </div>
</div>