/* .filterPanel {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 5px;
}
.filterRow {
    display: flex;
    justify-content: center;
    grid-column-gap: 5px;
    width: 100%;
} */
.filterPanel {
  display: grid;
  gap: 1px;
}

.filterRow {
    display: flex;
    justify-content: center;
    grid-column-gap: 5px;
    width: 100%;
}
.filterRow01 {
	grid-row: 1;
}
.filterRow02 {
	grid-row: 2;
}
.filterRow03 {
	grid-row: 3;
}
.filterBtn {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--themeButtonFace);
    width: 100px;
    text-align: center;
    /* border: 1px solid red;  */
    /* display: inline-block; */
}