* {
  /* background-color: var(--bgColor);
  color: var(--fColor); */
  /* user-select: none;
  box-sizing: border-box; */
  /* --button-bg-color: rgb(184, 51, 11);
  --button-bg-color-alternate: rgba(184, 51, 11, 0.8); */
}
.cartContainer {
  width: 60%;
  margin: 35px auto;
}
.cartPageTitle {
  text-align: center;
}
.cartRow {
  display: grid;
  grid-template-columns: 200px auto 100px 100px 100px;
  margin: 10px 0px;
  --background-color: black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(136, 136, 136, 0.4);
  box-shadow: 5px 5px 8px rgba(136, 136, 136, 0.4);
}
.cartCol {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 2px 5px; */
  justify-content: center;
  align-items: center;
}
.cartColHeader {
  text-align: center;
  padding: 15px 5px;
  margin: 0px 0px 15px 0px;
}
.cartColBody {
  text-align: center;
}
.cartColBodyPullLeft {
  text-align: left !important;
  align-self: flex-start;
}
.cartBtn {
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  background-color: var(--btnBgColor);
}
.cartBtnRemove {
  background-color: var(--btnBgColor);
  color: white;
}
.cartBtn:hover {
  opacity: 0.8;
}
.cartImage {
  height: 160px;
  width: 160px;
  border-radius: 5px;
}
.cartRockerWrapper {
  display: inline-flex;
}
.cartRockerAdd {
  text-align: center;
  padding: 5px 10px;
  border: none;
}
.cartRockerValue {
  text-align: center;
  padding: 5px 10px;
  border-top: 1px solid var(--button-bg-color);
  border-bottom: 1px solid var(--button-bg-color);
  font-size: 15px;
}
.cartRockerRemove {
  text-align: center;
  padding: 5px 10px;
  border: none;
}
.cartRockerQuantityBtn {
  background-color: var(--button-bg-color);
  color: white;
  font-style: bold;
  font-size: 15px;
  border-radius: 3px;
}
.cartRockerAdd:hover {
  cursor: pointer;
  opacity: 0.8;
}
.cartRockerRemove:hover {
  cursor: pointer;
}
.cartTotalsContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}
.cartTotals {
  padding: 5px;
}
.cartButtonsContainer {
  display: flex;
  justify-content: center;
}
.cartPannel {
  padding: 5px;
}
.cartBtnAdd {
  min-width: 150px;
}


.cartCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.cartCard {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px 5px;
    margin: 15px;
    min-width: 300px;
    display: inline-grid;
    grid-template-rows: auto 310px auto auto auto;
    border: 1px solid rgba(136, 136, 136, 0.4);
    box-shadow: 5px 5px 8px rgba(136, 136, 136, 0.4);
}
.cartCardName {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding: 0px 0px 10px 0px;
}
.cartCardImage {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;

}
.cartCardQuantityContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 0px 0px;
  border: 1px solid var(--btnBgColor); 
  border-radius: 5px;
  width: fit-content;
  justify-self: center;
}
.cartCardQuantity {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
}
.cartCardQuantityBtn {
  background-color: var(--btnBgColor);
  color: var(--fColor);
  /* padding: 5px 5px; */
  border-style: none;
  cursor: pointer;
}
.cartCardQuantityBtnAdd {
    /* margin-left: auto; */
    /* border-radius: 0px 5px 5px 0px; */
}
.cartCardQuantityBtnRemove {
    /* margin-right: auto; */
    /* border-radius: 5px 0px 0px 5px; */
}
.cartCardCost {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding: 10px 0px 0px 0px;
}
.cartCardDelete {
    text-align: center;
}
