.titleText {
  text-align: center;
  font-size: xx-large;
}
.subTitleText {
  font-family: optima;
  font-size: large;
  opacity: 0.8;
  margin: 5px 0px 0px 0px;
}
.subTitleImage {
  font-size: large;
  text-align: center;
  /* margin: 5px 0px 0px 0px;  */
  padding: 10px 0px 10px 0px;
  background-color: rgba(0,0,0,0.6);

}
.contentText {
  font-family: optima;
  font-size: small;
  opacity: 0.8;
  margin: 5px auto 5px auto;
}
.contentImage {
  /* min-width: 80%; */
  aspect-ratio: 2/1;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}