.filterPanel {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 5px;
}
.filterRow {
    display: flex;
    justify-content: center;
    grid-column-gap: 5px;
    width: 100%;
}
.filterBtn {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--themeButtonFace);
    width: 100px;
    text-align: center;
    /* border: 1px solid red;  */
    /* display: inline-block; */
}