.productsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 35px auto;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .productsContainer {
        flex-direction: row;
    }
}
