<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navBar',{loggedIn:loggedIn})%>
            <div class="container layoutTopMargin">
                <div class="subTitleText">About</div>
                <div class="contentText">
                    Potteries Jag Spares is the easiest way to sell or buy parts for your classic Jaguar. Located in
                    Stoke On Trent we
                    supply a wide range of replacement parts via mail order or for collection. We are a small, family
                    owned and operated
                    company and we pride ourselves on having a friendly and knowledgeable customer service team. We go
                    above and beyond to
                    make sure you always have a positive experience with Potteries Jag Spares. Potteries Jag Spares is
                    owned and operated by
                    Rob and Paul, a father and son team who have been working together for over a decade. They have a
                    strong passion for
                    classic Jaguars and building a strong, sustainable business that assists and supplies its rapidly
                    growing customer base.
                </div>
            </div>
    </body>