<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="description" content="PJS" />
    <meta name="author" content="PJS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/navBar.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/iconfont/material-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/matIconFix/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/cart.css" />
    <link rel="icon" href="/favicon/favicon.ico?v=2" type="image/x-icon" />
    <script defer type="text/javascript" src="/js/navBar.js"></script>
    <script defer type="module" src="/js/settings.js"></script>
    <script defer type="module" src="/js/auth.js"></script>
    <script defer type="module" src="/js/cart.js"></script>

    <title><%= settings.projectName %></title>
  </head>

  <body>
    <%- include('../partials/navBar', { user: user,
                                        navbar: navbar, 
                                        settings: settings 
                                      }) 
    %> 
    <div id="cartContainer" class="cartContainer">
      <div id="cart" class="cartCardContainer cartCardContainerAlignCenter">
        <!-- shopping cart html is generated in cart.js and injected here -->
      </div>
      <div>
        <div id="cartTotals" class="cartTotals">
          <!-- Cart Totals html is generated in cart.js and injected here -->
        </div>
      </div>
    </div>
    <%- include('../partials/footer', { footer: footer }) %>
  </body>
</html>
