<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

	<body>
		<%- include('../partials/navBar', {loggedIn:loggedIn}) %>
			<%- include('../partials/slideShow', {slideShow:slideShow}) %>

				<div class="container">
					<div class="titleText">Welcome to Potteries Jag Spares</div>
					<div class="subTitleText">About Us</div>
					<div class="contentText">We Break Used Jaguars For Spares And Have Thousands Of Parts In Stock. With
						Over 30 Years
						Experience In Restoring
						Series
						1 E-Types And Other Classic Jaguars And Over 20 Years Specialising In Auto Electrical Work
						Between Us Prior To
						Starting
						Potteries Jaguar Spares We Can Also Confidently Offer Restoration Work, Mechanical And Auto
						Electrical Fault
						Diagnosis
						And Repairs. Feel Free To Browse Our Menus For Cars And Parts. Any Enquiries Welcome Either Via
						Phone Or
						Email.Contact
						Us Today!
					</div>
				</div>

	</body>

</html>